.dataTables_filter {
    margin-left: 0px !important;
}

.input-search {
    width: 300px !important;
}

input {
    width: 100%;
}

.w-300 {
    width: 300px !important;
}

.p-15 {
    padding: 15px !important;
}